name: Deploy Complex
on:
  push:
    branches:
      - master # check your repo, your default branch might be master!

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: login to dockerhub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - run: docker build -t tsoialeksei17537/react-test -f ./client/Dockerfile.dev ./client
      - run: docker run -e CI=true tsoialeksei17537/react-test npm test

      - run: docker build -t tsoialeksei17537/multi-client ./client
      - run: docker build -t tsoialeksei17537/multi-nginx ./nginx
      - run: docker build -t tsoialeksei17537/multi-server ./server
      - run: docker build -t tsoialeksei17537/multi-worker ./worker

      - run: docker push tsoialeksei17537/multi-client
      - run: docker push tsoialeksei17537/multi-nginx
      - run: docker push tsoialeksei17537/multi-server
      - run: docker push tsoialeksei17537/multi-worker
